body {background-color: #39f !important;}
@-webkit-keyframes colours {
    50% {background-color: #39f;}
}
body {
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 60s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: colours;
	-webkit-animation-timing-function: ease;
}
@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma|Indie+Flower");
